/* Add your styles here. */

* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  color: #ddd;
  background: #333;
}

h1 {
  font-size: 2em;
  color: #9FC031;
  font-weight: 700;
}

p {
  font-size: 1.25em;
  color:#9FC031;
}